body {
  background-color: #E6F4F1;
}

nav {
  display: flex;
  background-color: #002B37;
  color: #E6F4F1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height:  135px;
}

.container {
  margin: auto;
  max-width: 500px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #1B2F2A;
}

.heading {
  color: #006554;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: #E6F4F1;
}

.tiny-logo {
  height: 50px;
  width: 50px;
}